/* main.css */

/* Общие стили */

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
    animation: fadeIn 1s ease;
}

h1, h2, h3 {
    margin: 0;
    padding: 0;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
    color: #007bff;
}

a:hover {
    text-decoration: underline;
}

.container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    max-width: 1200px;
    margin: 20px auto;
    padding: 0 20px;
}

/* Стили для навигационной панели */

.navbar {
    background-color: #f8f9fa;
    overflow: hidden;
    padding: 20px;
}

.navbar a {
    float: left;
    display: block;
    color: #333;
    text-align: center;
    padding: 14px 16px;
    font-size: 18px;
    transition: background-color 0.3s;
}

.navbar a:hover {
    background-color: #ddd;
    color: #000;
}

.navbar a.active {
    background-color: #4CAF50;
    color: white;
}

/* Стили для категорий и авторов */

.categories, .authors, .results {
    flex: 1;
    margin-right: 20px;
}

.categories h2, .authors h2, .results h2 {
    margin-bottom: 10px;
}

/* Стили для фильтров */

.filter-form {
    margin-bottom: 20px;
}

.filter-form select {
    padding: 8px 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-right: 10px;
}

.filter-form button {
    padding: 8px 20px;
    background-color: #007bff;
    border: none;
    border-radius: 4px;
    color: white;
    cursor: pointer;
}

.filter-form button:hover {
    background-color: #0056b3;
}

/* Стили для книг */

.book-list {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -10px;
}

.book-item {
    flex: 0 0 calc(33.333% - 20px);
    margin: 0 10px 20px;
    background-color: #fff;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    overflow: hidden;
    transition: transform 0.3s ease;
}

.book-item:hover {
    transform: translateY(-5px);
}

.book-image {
    width: 100%;
    height: auto;
}

.book-title {
    padding: 10px;
    font-size: 16px;
    text-align: center;
}

/* Анимация */

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
